In [84]:
import pandas as pd

In [85]:
df_sentiment=pd.read_csv('../sentimentResult_v3_all.csv',encoding='utf-8')
df_original=pd.read_csv('../../data/final_datasetv3.csv',encoding='utf-8')

In [86]:
df_18=pd.read_excel('../../원본데이터/18년도 가격데이터.xlsx')
df_19=pd.read_excel('../../원본데이터/19년도 가격데이터.xlsx')
df_20=pd.read_excel('../../원본데이터/20년도 가격데이터.xlsx')
df_21=pd.read_excel('../../원본데이터/21년도 가격데이터.xlsx')

In [87]:
df_18.drop(0,axis=0,inplace=True)
df_19.drop(0,axis=0,inplace=True)
df_20.drop(0,axis=0,inplace=True)
df_21.drop(0,axis=0,inplace=True)

In [88]:
df_sentiment.tail()

       week                                           sentence sentiment
13155  4282                                         돈가 낮추려는 의도  negative
13156  4282                             한시적으로 상장 수수료 일부를 지원하고    neutral
13157  4282  현실적으로는 전국의 돼지가격이 결정되는 공판장 가격을 낮추려는 의도라는 시각이 확산되고   negative
13158  4282                      대로 오른 양돈농가들은 불편한 심경을 감추지 못하고   negative
13159  4282                                      상장 수수료를 지원하고    neutral

### 감성 negative-> -1, positive->1, neural->0

In [89]:
df_sentiment['sentiment'] = df_sentiment['sentiment'].replace('negative', -1)
df_sentiment['sentiment'] = df_sentiment['sentiment'].replace('neutral', 0)
df_sentiment['sentiment'] = df_sentiment['sentiment'].replace('positive', 1)

In [90]:
df_sentiment.tail()

       week                                           sentence  sentiment
13155  4282                                         돈가 낮추려는 의도         -1
13156  4282                             한시적으로 상장 수수료 일부를 지원하고           0
13157  4282  현실적으로는 전국의 돼지가격이 결정되는 공판장 가격을 낮추려는 의도라는 시각이 확산되고          -1
13158  4282                      대로 오른 양돈농가들은 불편한 심경을 감추지 못하고          -1
13159  4282                                      상장 수수료를 지원하고           0

In [91]:
grouped_df_sentiment = df_sentiment.groupby('week')['sentiment'].mean()

In [92]:
print(grouped_df_sentiment)

week
0       0.500000
1       0.000000
2      -0.333333
3      -0.500000
4       0.333333
          ...
4278    0.000000
4279   -0.200000
4280   -0.500000
4281    0.000000
4282   -0.600000
Name: sentiment, Length: 4281, dtype: float64

In [93]:
df_original['sentiment']=grouped_df_sentiment

In [142]:
df_original.iloc[0:10]

,time,theme,title,content,datetime,new_content,sentiment
0,NaN,축산신문,작년 11월 양돈사료 58만톤,\n\t\t\t\n\t\t\t 지난해 11월 양돈용 배합사료 생산량이 크게 증가했다...,2018-01-02,지난해 11월 양돈용 배합사료 생산량이 크게 증가했다.농림축산식품부에 따르면 지난...,0.500000
1,NaN,축산신문,부경양돈조합 대표브랜드 포크밸리 미트마켓 오픈,\n\t\t\t\n\t\t\t[축산신문 ■부산=권재만 기자] 부경양돈조합(조합장 이...,2018-01-02,부경양돈조합(조합장 이재식)의 외식 프랜차이즈 및 육류 유통사업을 주요업무로 하는 ...,0.000000
2,NaN,축산신문,등급정산제 미적용 업체 명단 공개,\n\t\t\t\n\t\t\t 대한한돈협회(회장 하태식)가 돼지정산 방식 개선과 관...,2018-01-02,"대한한돈협회(회장 하태식)가 돼지정산 방식 개선과 관련, 5번째 성명서를 발표했다...",-0.333333
3,NaN,축산신문,한돈팜스로 본 한국 양돈 ‘구멍’ <하> / 들쭉날쭉 사육두수,\n\t\t\t\n\t\t\t 월별 사육·출하두수 크게 다른 농장 상당수“사육공간 ...,2018-01-02,"월별 사육·출하두수 크게 다른 농장 상당수“사육공간 어떨 땐 남고, 어떨 땐 모자...",-0.500000
4,NaN,축산신문,국산 돈육 신선도·안전성 ‘수준급’,\n\t\t\t\n\t\t\t 국내산 돼지고기의 신선도와 안전성이 다시한번 입증됐다...,2018-01-02,국내산 돼지고기의 신선도와 안전성이 다시한번 입증됐다.한돈자조금관리위원회(위원장 ...,0.333333
5,2018-01-04 17:07,오늘의 뉴스,"종돈 4,409마리 수입…5년만에 최고(1/4)","\t\t\t\t\t종돈 4,409마리 수입…5년만에 최고\r\n종개협 신규 종돈장...",2018-01-04,"\t\t\t\t\t종돈 4,409마리 수입…5년만에 최고\r\n종개협 신규 종돈장...",0.000000
6,NaN,축산신문,“한돈 떡국 먹고 복 듬뿍”,"\n\t\t\t\n\t\t\t 한돈자조금관리위원회(이하 한돈자조금, 위원장 하태식)...",2018-01-04,"한돈자조금관리위원회(이하 한돈자조금, 위원장 하태식)는 무술년 새해 첫날인 지난 ...",0.000000
7,NaN,축산신문,"당진양돈작목반, 사랑의 돼지고기 전달",\n\t\t\t\n\t\t\t[축산신문 ■당진=황인성 기자] 대전충남양돈농협 당진양...,2018-01-04,대전충남양돈농협 당진양돈작목반(반장 박희복)이 연말연시를 맞아 사랑의 손길이 필요한...,0.500000
8,NaN,축산신문,작년 돼지 가격 사상 최고치 경신,\n\t\t\t\n\t\t\t 지난해 돼지가격이 사상 최고치를 기록했다.축산물품질...,2018-01-04,지난해 돼지가격이 사상 최고치를 기록했다.축산물품질평가원에 따르면 지난 한해 전...,-0.500000
9,NaN,축산신문,<분석>작년 종돈수입 무엇이 달라졌나,\n\t\t\t\n\t\t\t 총 4천409두 들어와…예년 두배 이상 다산성모돈 수...,2018-01-04,총 4천409두 들어와…예년 두배 이상 다산성모돈 수요 확산 유럽산 선호도↑31개...,0.000000

### 날짜 기준으로 뉴스 감성점수 구하기

In [199]:
grouped_df_original = df_original.groupby('datetime')['sentiment'].mean()

In [200]:
df_original['day_sentiment'] = df_original.groupby(['datetime'])['sentiment'].transform('mean')

In [219]:
df_original=df_original[['new_content','datetime','day_sentiment']]

In [220]:
grouped_df = df_original.groupby('datetime')['new_content'].agg(lambda x: ' '.join(x)).reset_index()

In [184]:
df_original.groupby('datetime')['new_content'].agg(lambda x: ' '.join(x))

datetime
2018-01-02     지난해 11월 양돈용 배합사료 생산량이 크게 증가했다.농림축산식품부에 따르면 지난...
2018-01-04    \t\t\t\t\t종돈 4,409마리 수입…5년만에 최고\r\n종개협  신규 종돈장...
2018-01-10     대한한돈협회(회장 하태식)가 돼지값의 등급정산제 조기정착을 위한 행보를 넓히고 있...
2018-01-11    \t\t\t\t\t제주도 양돈농가 채산성 악화 전망\r\n한은, 육지산 돈육 유입 ...
2018-01-12    돼지 구제역백신 항체형성률이 크게 개선된 것으로 확인됐다.농림축산식품부는 지난해 1...
                                    ...
2022-01-05    \n영하 날씨 속 전국 확산 우려…차단방역 철저를영하의 날씨와 함께 양돈현장에 불청...
2022-01-12    \n평균 4천722원…11년 이후 최고가 지난해 돼지 도축두수가 사상 최대치를 경신...
2022-01-13    “국민재산권 등 침해 행위…대선 후보들 방관해선 안돼”      양돈업계의 반대에도...
2022-01-14     정부가 전국의 방역취약 양돈장에 대한 실태점검에 착수했다.가축거래상인에게 돼지를 ...
2022-01-19    \n“설 명절 공급 확대 효과 없어…돈가 낮추려는 의도”농림축산식품부가 공판장에 돼...
Name: new_content, Length: 807, dtype: object

In [222]:
sentiment_final=pd.merge(grouped_df, df_original, on = 'datetime', how = 'left')

In [224]:
sentiment_final=sentiment_final[['datetime','new_content_x','day_sentiment']]

In [226]:
sentiment_final = sentiment_final.drop_duplicates('datetime', keep='last')

In [230]:
sentiment_final.reset_index(drop=True,inplace=True)

In [231]:
sentiment_final

,datetime,new_content_x,day_sentiment
0,2018-01-02,지난해 11월 양돈용 배합사료 생산량이 크게 증가했다.농림축산식품부에 따르면 지난...,0.000000
1,2018-01-04,"\t\t\t\t\t종돈 4,409마리 수입…5년만에 최고\r\n종개협 신규 종돈장...",-0.104167
2,2018-01-10,대한한돈협회(회장 하태식)가 돼지값의 등급정산제 조기정착을 위한 행보를 넓히고 있...,-0.062500
3,2018-01-11,"\t\t\t\t\t제주도 양돈농가 채산성 악화 전망\r\n한은, 육지산 돈육 유입 ...",-0.291667
4,2018-01-12,돼지 구제역백신 항체형성률이 크게 개선된 것으로 확인됐다.농림축산식품부는 지난해 1...,-0.069444
...,...,...,...
802,2022-01-05,\n영하 날씨 속 전국 확산 우려…차단방역 철저를영하의 날씨와 함께 양돈현장에 불청...,-0.033333
803,2022-01-12,\n평균 4천722원…11년 이후 최고가 지난해 돼지 도축두수가 사상 최대치를 경신...,-0.066667
804,2022-01-13,“국민재산권 등 침해 행위…대선 후보들 방관해선 안돼” 양돈업계의 반대에도...,0.000000
805,2022-01-14,정부가 전국의 방역취약 양돈장에 대한 실태점검에 착수했다.가축거래상인에게 돼지를 ...,-0.600000
806,2022-01-19,\n“설 명절 공급 확대 효과 없어…돈가 낮추려는 의도”농림축산식품부가 공판장에 돼...,NaN

### 가격 데이터 합치기

In [163]:
df_price=pd.concat([df_18,df_19,df_20,df_21],axis = 0)

In [164]:
df_price=df_price[['업체코드','업체명','도축일','도체번호','경락단가']]

In [165]:
#도축일 datetime으로 변경
df_price['도축일']=pd.to_datetime(df_price['도축일'])

In [216]:
# datetime으로 변경
df_original['datetime']=pd.to_datetime(df_original['datetime'])

### 일별 평균 데이터 구하기

In [169]:
df_price_all_2column=df_price[['도축일',"경락단가"]]

df_price_all_2column['도축일']=pd.to_datetime(df_price_all_2column['도축일'])

df_price_all_2column.head()

C:\Users\jaemin\AppData\Local\Temp\ipykernel_15920\1041402692.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_price_all_2column['도축일']=pd.to_datetime(df_price_all_2column['도축일'])

         도축일    경락단가
1 2018-01-02  3622.0
2 2018-01-02  3755.0
3 2018-01-02  3700.0
4 2018-01-02  3733.0
5 2018-01-02  2199.0

In [170]:
df_price_all_2column['경락단가_평균'] = df_price_all_2column.groupby(['도축일'])['경락단가'].transform('mean')

df_price_all_2column.head()

df_price_all_2column=df_price_all_2column.groupby(df_price_all_2column['도축일']).mean()

df_price_all_2column.reset_index(inplace=True)

new_df_price_all_2column=df_price_all_2column.iloc[238:,]

new_df_price_all_2column.reset_index(drop=True, inplace=True)

C:\Users\jaemin\AppData\Local\Temp\ipykernel_15920\2098282720.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_price_all_2column['경락단가_평균'] = df_price_all_2column.groupby(['도축일'])['경락단가'].transform('mean')

In [171]:
new_df_price_all_2column

           도축일         경락단가      경락단가_평균
0   2018-01-02  3750.366093  3750.366093
1   2018-01-03  3547.574932  3547.574932
2   2018-01-04  3696.060897  3696.060897
3   2018-01-05  3770.156364  3770.156364
4   2018-01-08  3809.974684  3809.974684
..         ...          ...          ...
620 2021-12-27  4547.071429  4547.071429
621 2021-12-28  4373.212544  4373.212544
622 2021-12-29  4278.649485  4278.649485
623 2021-12-30  4322.080986  4322.080986
624 2021-12-31  4138.037190  4138.037190

[625 rows x 3 columns]

### 가격 데이터에 도축일 기준으로 merge하기

In [232]:
# 기준열 이름이 다를 때
df_merged=pd.merge(new_df_price_all_2column, sentiment_final, left_on = '도축일', right_on = 'datetime', how = 'left')

In [237]:
df_merged.fillna(method= 'ffill',inplace=True) # 뒤의 결측치를 앞의 값으로 채우기. 'pad'도 사용 가능하다.

In [238]:
df_merged.tail(1000)

,도축일,경락단가,경락단가_평균,datetime,new_content_x,day_sentiment
0,2018-01-02,3750.366093,3750.366093,2018-01-02,지난해 11월 양돈용 배합사료 생산량이 크게 증가했다.농림축산식품부에 따르면 지난...,0.000000
1,2018-01-03,3547.574932,3547.574932,2018-01-02,지난해 11월 양돈용 배합사료 생산량이 크게 증가했다.농림축산식품부에 따르면 지난...,0.000000
2,2018-01-04,3696.060897,3696.060897,2018-01-04,"\t\t\t\t\t종돈 4,409마리 수입…5년만에 최고\r\n종개협 신규 종돈장...",-0.104167
3,2018-01-05,3770.156364,3770.156364,2018-01-04,"\t\t\t\t\t종돈 4,409마리 수입…5년만에 최고\r\n종개협 신규 종돈장...",-0.104167
4,2018-01-08,3809.974684,3809.974684,2018-01-04,"\t\t\t\t\t종돈 4,409마리 수입…5년만에 최고\r\n종개협 신규 종돈장...",-0.104167
...,...,...,...,...,...,...
620,2021-12-27,4547.071429,4547.071429,2021-12-27,\n▲ 연암대가 최근 ICT 융복합 스마트 양돈실습장 구축을 완료했다.\n \n연암...,0.175000
621,2021-12-28,4373.212544,4373.212544,2021-12-28,범 양돈산업계를 아우르는 컨트롤타워 출현이 가시화되고 있다.대한한돈협회 손세희 회장...,-0.116270
622,2021-12-29,4278.649485,4278.649485,2021-12-28,범 양돈산업계를 아우르는 컨트롤타워 출현이 가시화되고 있다.대한한돈협회 손세희 회장...,-0.116270
623,2021-12-30,4322.080986,4322.080986,2021-12-28,범 양돈산업계를 아우르는 컨트롤타워 출현이 가시화되고 있다.대한한돈협회 손세희 회장...,-0.116270
624,2021-12-31,4138.037190,4138.037190,2021-12-28,범 양돈산업계를 아우르는 컨트롤타워 출현이 가시화되고 있다.대한한돈협회 손세희 회장...,-0.116270

In [239]:
df_merged.to_csv('../data_v3/감성점수와 일별뉴스 합친거.csv', index=False, encoding="utf-8-sig")