In [2]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.feature_extraction.text import CountVectorizer

C:\Users\jaemin\Anaconda3\envs\py38\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\jaemin\Anaconda3\envs\py38\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
C:\Users\jaemin\Anaconda3\envs\py38\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [3]:
####한국어 형태소 분석기####
from konlpy.tag import Kkma, Komoran, Okt, Hannanum #Mecab은 윈도우에서 작동 불가능
okt = Okt()

In [4]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [5]:
df_18=pd.read_csv('./원본데이터/news18.csv',encoding='cp949')
df_19=pd.read_csv('./원본데이터/news19.csv',encoding='cp949')
df_20=pd.read_csv('./원본데이터/news20.csv',encoding='cp949')
df_21=pd.read_csv('./원본데이터/news21.csv',encoding='cp949')

In [6]:
df_18_price=pd.read_excel('./원본데이터/18년도 가격데이터.xlsx')
df_19_price=pd.read_excel('./원본데이터/19년도 가격데이터.xlsx')
df_20_price=pd.read_excel('./원본데이터/20년도 가격데이터.xlsx')
df_21_price=pd.read_excel('./원본데이터/21년도 가격데이터.xlsx')

In [7]:
#첫번째 행 삭제
df_18_price.drop(0,axis=0,inplace=True)
df_19_price.drop(0,axis=0,inplace=True)
df_20_price.drop(0,axis=0,inplace=True)
df_21_price.drop(0,axis=0,inplace=True)

In [8]:
df_price_all=pd.concat([df_18_price,df_19_price,df_20_price,df_21_price])

In [24]:
df_price_all[['업체코드','업체명','도축일','도체번호','경락단가']].tail()

        업체코드        업체명       도축일  도체번호    경락단가
50292  10466  도드람양돈협동조합  20211231  4239  4189.0
50293  10466  도드람양돈협동조합  20211231  4240  4269.0
50294  10466  도드람양돈협동조합  20211231  4241  4099.0
50295  10466  도드람양돈협동조합  20211231  4242  4329.0
50296  10466  도드람양돈협동조합  20211231  4243  4399.0

### 돼지고기 가격시간 datetime으로 변형

In [10]:
# df_price_all['도축일']=pd.to_datetime(df_price_all['도축일'])

In [11]:
df_price_all.head()

,업체코드,업체명,농가코드,농가명,이력번호,도축일,도체번호,판정일,판정구분,성별,생체중량,중량,등지방,1차등급,최종등급,경락단가,경락금액,삼겹비율,전체,Unnamed: 19,Unnamed: 20,등지방.1,Unnamed: 22,Unnamed: 23,삼겹,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,목심,Unnamed: 33,Unnamed: 34,갈비,Unnamed: 36,Unnamed: 37,등갈비\n무게,등심,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,안심\n무게,앞다리살,Unnamed: 46,Unnamed: 47,뒷다리살,Unnamed: 49,Unnamed: 50,Unnamed: 51,항정살\n무게,등심덧살\n무게,갈매기살\n무게,총 금액,Unnamed: 18,Unnamed: 21,Unnamed: 24,Unnamed: 32,Unnamed: 35,Unnamed: 39,Unnamed: 44,Unnamed: 45,Unnamed: 48
1,10466,도드람양돈협동조합,32816,엠파크(박광욱),140136200128,20180102,NaN,20180102,1,거세,116.098,88,24,1+,3,3622.0,318736.0,13.681818,63.5,32.29,23.12,30,25,25,12.04,9.9,5.3,27.25,2.54,13.39,54.47,40.51,4.44,3.8,69,3.64,3.62,61.5,0.86,5.34,NaN,5.88,65.51,35.19,0.98,8.08,7.74,60.51,16.86,NaN,15.68,69.84,0.48,0.38,0.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10466,도드람양돈협동조합,32816,엠파크(박광욱),140136200128,20180102,NaN,20180102,1,암,116.098,89,20,1+,3,3755.0,334195.0,14.089888,63.7,31.74,23.62,29,24,25,12.54,10.04,5.26,27.48,2.52,13.29,53.93,40.68,4.46,3.76,69.1,3.72,3.68,61.38,0.86,5.4,NaN,6,65.8,34.22,0.96,8.18,7.86,59.9,16.92,NaN,15.68,69.84,0.52,0.42,0.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10466,도드람양돈협동조합,32816,엠파크(박광욱),140136200128,20180102,NaN,20180102,1,거세,116.098,86,24,1+,3,3700.0,318200.0,13.674419,64.7,30.59,22.8,33,27,31,11.76,9.56,4.86,28.02,2.34,12.98,53.79,40.69,4.44,3.68,70.49,3.54,3.5,62.54,0.84,5.96,NaN,6.56,67.91,31.98,0.96,7.96,7.66,60.55,17.08,NaN,16.18,71.24,0.48,0.38,0.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10466,도드람양돈협동조합,32816,엠파크(박광욱),140136200128,20180102,NaN,20180102,1,거세,116.098,86,22,1+,3,3733.0,321038.0,14.139535,64.6,30.71,22.1,29,24,26,12.16,9.84,4.86,26.69,2.32,12.88,54.82,39.65,4.32,3.68,70.02,3.58,3.56,61.76,0.84,5.38,NaN,5.92,66.8,32.59,0.92,7.98,7.68,60.63,16.36,NaN,15.2,70.2,0.5,0.38,0.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,10466,도드람양돈협동조합,32816,엠파크(박광욱),140136200128,20180102,NaN,20180102,1,거세,116.098,87,36,2,2,2199.0,191313.0,14.413793,57.1,39.03,28.8,41,36,40,12.54,9.04,6.18,31.58,3.4,17.27,47.21,48.83,4,3.22,62.96,3.38,3.34,57.73,0.86,4.72,NaN,5.24,54.86,45.24,0.84,7.48,6.84,54.06,15.08,NaN,13.4,64.35,0.48,0.38,0.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
# df_price_all['datetime']=df_price_all['도축일'].dt.strftime('%Y-%m-%d')

# df_price_all['datetime']=pd.to_datetime(df_price_all['datetime'])

### 도축일 일별 기준 groupby 평균하기

In [27]:
df_price_all_2column=df_price_all[['도축일',"경락단가"]]

df_price_all_2column['도축일']=pd.to_datetime(df_price_all_2column['도축일'])

df_price_all_2column.head()

C:\Users\jaemin\AppData\Local\Temp\ipykernel_1992\1319833842.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_price_all_2column['도축일']=pd.to_datetime(df_price_all_2column['도축일'])

         도축일    경락단가
1 2018-01-02  3622.0
2 2018-01-02  3755.0
3 2018-01-02  3700.0
4 2018-01-02  3733.0
5 2018-01-02  2199.0

In [28]:
df_price_all_2column['경락단가_평균'] = df_price_all_2column.groupby(['도축일'])['경락단가'].transform('mean')

df_price_all_2column.head()

df_price_all_2column=df_price_all_2column.groupby(df_price_all_2column['도축일']).mean()

df_price_all_2column.reset_index(inplace=True)

new_df_price_all_2column=df_price_all_2column.iloc[238:,]

new_df_price_all_2column.reset_index(drop=True, inplace=True)

C:\Users\jaemin\AppData\Local\Temp\ipykernel_1992\2410941435.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_price_all_2column['경락단가_평균'] = df_price_all_2column.groupby(['도축일'])['경락단가'].transform('mean')

In [31]:
new_df_price_all_2column

           도축일         경락단가      경락단가_평균
0   2018-01-02  3750.366093  3750.366093
1   2018-01-03  3547.574932  3547.574932
2   2018-01-04  3696.060897  3696.060897
3   2018-01-05  3770.156364  3770.156364
4   2018-01-08  3809.974684  3809.974684
5   2018-01-09  3723.371930  3723.371930
6   2018-01-10  3694.435484  3694.435484
7   2018-01-11  3740.687243  3740.687243
8   2018-01-12  3748.212245  3748.212245
9   2018-01-15  3800.211009  3800.211009
10  2018-01-16  3818.906367  3818.906367
11  2018-01-17  3704.159574  3704.159574
12  2018-01-18  3685.272152  3685.272152
13  2018-01-19  3708.250825  3708.250825
14  2018-01-22  3878.417763  3878.417763
15  2018-01-23  3923.907631  3923.907631
16  2018-01-24  3724.382838  3724.382838
17  2018-01-25  3828.731343  3828.731343
18  2018-01-26  3822.960000  3822.960000
19  2018-01-29  3976.090196  3976.090196
20  2018-01-30  4031.763636  4031.763636
21  2018-01-31  4220.747253  4220.747253
22  2018-02-01  4366.439689  4366.439689
23  2018-02-02  4785.950877  4785.950877
24  2018-02-05  4792.674359  4792.674359
25  2018-02-06  4940.033223  4940.033223
26  2018-02-07  4792.056380  4792.056380
27  2018-02-08  4658.213376  4658.213376
28  2018-02-09  4440.559259  4440.559259
29  2018-02-12  4564.495177  4564.495177
30  2018-02-13  3642.769784  3642.769784
31  2018-02-19  3732.192308  3732.192308
32  2018-02-20  3663.241007  3663.241007
33  2018-02-21  3788.014035  3788.014035
34  2018-02-22  3922.431373  3922.431373
35  2018-02-23  3865.524590  3865.524590
36  2018-02-26  4135.580882  4135.580882
37  2018-02-27  4191.967302  4191.967302
38  2018-02-28  3954.994186  3954.994186
39  2018-03-05  4023.020408  4023.020408
40  2018-03-06  3947.420896  3947.420896
41  2018-03-07  3880.954984  3880.954984
42  2018-03-08  3772.514815  3772.514815
43  2018-03-09  3717.276753  3717.276753
44  2018-03-12  3976.750000  3976.750000
45  2018-03-13  3977.296429  3977.296429
46  2018-03-14  3822.062963  3822.062963
47  2018-03-15  3859.280992  3859.280992
48  2018-03-16  3913.693277  3913.693277
49  2018-03-19  4095.098765  4095.098765
50  2018-03-20  4039.891051  4039.891051
51  2018-03-21  4212.655556  4212.655556
52  2018-03-22  4144.192000  4144.192000
53  2018-03-23  3922.311787  3922.311787
54  2018-03-26  4267.796935  4267.796935
55  2018-03-27  5409.863388  5409.863388
56  2018-03-30  4996.655488  4996.655488
57  2018-04-02  5010.264591  5010.264591
58  2018-04-03  4751.340909  4751.340909
59  2018-04-04  4385.771626  4385.771626
60  2018-04-05  4323.025830  4323.025830
61  2018-04-06  4314.446281  4314.446281
62  2018-04-09  4580.167421  4580.167421
63  2018-04-10  4918.435294  4918.435294
64  2018-04-11  4672.602679  4672.602679
65  2018-04-12  4692.430769  4692.430769
66  2018-04-13  4533.274510  4533.274510
67  2018-04-16  4565.383399  4565.383399
68  2018-04-23  4600.842697  4600.842697
69  2018-04-24  4655.085470  4655.085470
70  2018-04-25  4676.191667  4676.191667
71  2018-04-26  4691.549784  4691.549784
72  2018-04-27  4831.872928  4831.872928
73  2018-04-30  4821.948827  4821.948827
74  2018-05-02  4908.957055  4908.957055
75  2018-05-04  4746.165975  4746.165975
76  2018-05-08  4657.598039  4657.598039
77  2018-05-09  4795.991189  4795.991189
78  2018-05-10  4728.974790  4728.974790
79  2018-05-11  4682.996016  4682.996016
80  2018-05-15  4697.761905  4697.761905
81  2018-05-16  4545.882812  4545.882812
82  2018-05-17  4586.962963  4586.962963
83  2018-05-21  4541.829861  4541.829861
84  2018-05-23  4813.094077  4813.094077
85  2018-05-24  4786.817814  4786.817814
86  2018-05-29  4924.120930  4924.120930
87  2018-05-30  4854.856502  4854.856502
88  2018-06-01  5095.521053  5095.521053
89  2018-06-04  5137.217557  5137.217557
90  2018-06-05  5114.145374  5114.145374
91  2018-06-06  4984.288793  4984.288793
92  2018-06-07  5325.821138  5325.821138
93  2018-06-11  5401.746835  5401.746835
94  2018-06-12  5198.607509  5198.607509
95  2018-06-14  5139.989130  5139.989130
96  2018-06-18  5320.776892  5320.776892
97  2018-06-19  5475.580311  5475.580311
98  2018-06-20  5191.945255  5191.945255
99  2018-06-22  5566.045918  5566.045918
100 2018-06-25  5071.781690  5071.781690
101 2018-06-26  5471.905983  5471.905983
102 2018-06-27  5468.981481  5468.981481
103 2018-06-28  5375.318841  5375.318841
104 2018-06-29  5538.886139  5538.886139
105 2018-07-02  5762.637097  5762.637097
106 2018-07-03  5668.048077  5668.048077
107 2018-07-04  5722.131707  5722.131707
108 2018-07-05  5700.514706  5700.514706
109 2018-07-06  5733.173913  5733.173913
110 2018-07-09  5631.080460  5631.080460
111 2018-07-10  5592.327801  5592.327801
112 2018-07-11  5676.254032  5676.254032
113 2018-07-12  5757.061798  5757.061798
114 2018-07-13  5721.732955  5721.732955
115 2018-07-16  5634.734082  5634.734082
116 2018-07-17  5295.167969  5295.167969
117 2018-07-18  5366.413793  5366.413793
118 2018-07-20  5177.547244  5177.547244
119 2018-07-23  4643.145000  4643.145000
120 2018-08-02  4624.925000  4624.925000
121 2018-08-03  4824.627219  4824.627219
122 2018-08-06  4895.833333  4895.833333
123 2018-08-07  4806.922680  4806.922680
124 2018-08-08  4643.156863  4643.156863
125 2018-08-09  5010.995074  5010.995074
126 2018-08-10  4968.798913  4968.798913
127 2018-08-13  5103.433460  5103.433460
128 2018-08-14  5037.247788  5037.247788
129 2018-08-16  4950.875940  4950.875940
130 2018-08-17  5342.453659  5342.453659
131 2018-08-20  5064.003906  5064.003906
132 2018-08-21  5273.529412  5273.529412
133 2018-08-22  5113.354545  5113.354545
134 2018-08-23  5072.480198  5072.480198
135 2018-08-24  5113.931298  5113.931298
136 2018-08-27  5036.655172  5036.655172
137 2018-08-28  4925.200000  4925.200000
138 2018-08-29  5391.081871  5391.081871
139 2018-08-30  5170.031111  5170.031111
140 2018-08-31  5236.204918  5236.204918
141 2018-09-03  5294.996825  5294.996825
142 2018-09-04  5028.162162  5028.162162
143 2018-09-05  5194.308642  5194.308642
144 2018-09-06  5017.278997  5017.278997
145 2018-09-07  5193.119454  5193.119454
146 2018-09-10  5117.772727  5117.772727
147 2018-09-11  5213.934959  5213.934959
148 2018-09-12  5192.200000  5192.200000
149 2018-09-13  5237.362235  5237.362235
150 2018-09-14  5223.663391  5223.663391
151 2018-09-17  5352.708738  5352.708738
152 2018-09-18  5235.687500  5235.687500
153 2018-09-19  4558.984756  4558.984756
154 2018-09-20  4001.919075  4001.919075
155 2018-09-21  3019.677249  3019.677249
156 2018-09-28  4510.229039  4510.229039
157 2018-10-01  4557.839367  4557.839367
158 2018-10-02  4055.530000  4055.530000
159 2018-10-04  4043.596529  4043.596529
160 2018-10-05  4028.252381  4028.252381
161 2018-10-08  4089.946058  4089.946058
162 2018-10-10  4037.194861  4037.194861
163 2018-10-11  3912.565909  3912.565909
164 2018-10-12  3692.294900  3692.294900
165 2018-10-15  3589.704918  3589.704918
166 2018-10-16  3522.160401  3522.160401
167 2018-10-17  3588.875912  3588.875912
168 2018-10-18  3586.106218  3586.106218
169 2018-10-19  3631.475578  3631.475578
170 2018-10-22  3836.644928  3836.644928
171 2018-10-23  3603.050000  3603.050000
172 2018-10-24  3608.062176  3608.062176
173 2018-10-25  3635.804071  3635.804071
174 2018-10-26  3427.840102  3427.840102
175 2018-10-29  3585.454327  3585.454327
176 2018-10-30  3408.443005  3408.443005
177 2018-10-31  3429.692082  3429.692082
178 2018-11-01  3542.463415  3542.463415
179 2018-11-02  3291.092348  3291.092348
180 2018-11-05  3483.163043  3483.163043
181 2018-11-06  3468.738602  3468.738602
182 2018-11-07  3513.047619  3513.047619
183 2018-11-08  3569.581761  3569.581761
184 2018-11-09  3643.332268  3643.332268
185 2018-11-12  3840.511561  3840.511561
186 2018-11-13  3828.924290  3828.924290
187 2018-11-14  4002.888889  4002.888889
188 2018-11-15  4048.506536  4048.506536
189 2018-11-16  3867.671053  3867.671053
190 2018-11-19  3976.000000  3976.000000
191 2018-11-20  3731.982196  3731.982196
192 2018-11-21  3779.400641  3779.400641
193 2018-11-22  3727.877888  3727.877888
194 2018-11-23  3976.415225  3976.415225
195 2018-11-26  3945.550162  3945.550162
196 2018-11-28  4043.868132  4043.868132
197 2018-11-29  4025.672414  4025.672414
198 2018-11-30  4009.479853  4009.479853
199 2018-12-03  4064.819355  4064.819355
200 2018-12-04  4024.452471  4024.452471
201 2018-12-05  3930.359431  3930.359431
202 2018-12-06  3921.945205  3921.945205
203 2018-12-07  3989.142308  3989.142308
204 2018-12-11  3987.634812  3987.634812
205 2018-12-12  4001.438017  4001.438017
206 2018-12-13  3923.256228  3923.256228
207 2018-12-14  3698.725410  3698.725410
208 2018-12-17  3862.674051  3862.674051
209 2018-12-18  3626.513595  3626.513595
210 2018-12-19  3541.464912  3541.464912
211 2018-12-20  3512.076023  3512.076023
212 2018-12-21  3110.176301  3110.176301
213 2018-12-24  3256.338843  3256.338843
214 2018-12-26  3304.524476  3304.524476
215 2018-12-27  3275.903226  3275.903226
216 2018-12-28  3170.957143  3170.957143
217 2018-12-31  3105.672457  3105.672457
218 2019-01-03  3415.280347  3415.280347
219 2019-01-04  3379.426136  3379.426136
220 2019-01-07  3226.175926  3226.175926
221 2019-01-08  3157.812672  3157.812672
222 2019-01-09  3074.684814  3074.684814
223 2019-01-10  3206.449231  3206.449231
224 2019-01-11  3218.706745  3218.706745
225 2019-01-14  3176.292105  3176.292105
226 2019-01-15  3114.211144  3114.211144
227 2019-01-16  3142.790123  3142.790123
228 2019-01-17  3188.371795  3188.371795
229 2019-01-18  3167.916667  3167.916667
230 2019-01-21  3268.605744  3268.605744
231 2019-01-22  3319.474164  3319.474164
232 2019-01-23  3279.752412  3279.752412
233 2019-01-24  3298.296512  3298.296512
234 2019-01-25  3164.545455  3164.545455
235 2019-01-29  3845.271429  3845.271429
236 2019-01-30  3044.865979  3044.865979
237 2019-01-31  3027.077295  3027.077295
238 2019-02-08  4242.310204  4242.310204
239 2019-02-11  3551.655319  3551.655319
240 2019-02-12  3615.154762  3615.154762
241 2019-02-14  3079.395745  3079.395745
242 2019-02-15  2875.569930  2875.569930
243 2019-02-18  3120.207668  3120.207668
244 2019-02-19  3102.643636  3102.643636
245 2019-02-20  3119.700730  3119.700730
246 2019-02-21  3394.311284  3394.311284
247 2019-02-22  3529.162500  3529.162500
248 2019-02-25  3507.039634  3507.039634
249 2019-02-26  3466.751724  3466.751724
250 2019-02-27  3631.324759  3631.324759
251 2019-02-28  3260.601974  3260.601974
252 2019-03-04  3507.935065  3507.935065
253 2019-03-05  3515.544444  3515.544444
254 2019-03-06  3237.163102  3237.163102
255 2019-03-07  3304.590296  3304.590296
256 2019-03-08  3373.711048  3373.711048
257 2019-03-11  3486.207493  3486.207493
258 2019-03-12  3755.055738  3755.055738
259 2019-03-13  3824.485437  3824.485437
260 2019-03-14  3908.094118  3908.094118
261 2019-03-18  3921.432161  3921.432161
262 2019-03-19  3827.040872  3827.040872
263 2019-03-20  3814.152778  3814.152778
264 2019-03-21  3738.935574  3738.935574
265 2019-03-25  4021.442446  4021.442446
266 2019-03-26  4242.751092  4242.751092
267 2019-03-27  4181.678571  4181.678571
268 2019-04-01  4245.433594  4245.433594
269 2019-04-02  4188.509259  4188.509259
270 2019-04-03  4522.553191  4522.553191
271 2019-04-04  4676.131707  4676.131707
272 2019-04-05  4515.033898  4515.033898
273 2019-04-08  4820.220532  4820.220532
274 2019-04-09  4776.008439  4776.008439
275 2019-04-10  4527.454183  4527.454183
276 2019-04-11  4374.290000  4374.290000
277 2019-04-12  4257.371429  4257.371429
278 2019-04-15  4399.696319  4399.696319
279 2019-04-16  4241.356223  4241.356223
280 2019-04-17  4211.936709  4211.936709
281 2019-04-18  4039.900000  4039.900000
282 2019-04-19  3743.269058  3743.269058
283 2019-04-22  4036.714286  4036.714286
284 2019-04-23  4122.708661  4122.708661
285 2019-04-24  4203.014493  4203.014493
286 2019-04-25  4064.000000  4064.000000
287 2019-04-26  3788.668033  3788.668033
288 2019-04-29  4147.663717  4147.663717
289 2019-04-30  4047.087059  4047.087059
290 2019-05-07  4101.562005  4101.562005
291 2019-05-08  4205.216814  4205.216814
292 2019-05-09  4069.709790  4069.709790
293 2019-05-10  3902.148014  3902.148014
294 2019-05-13  4016.305921  4016.305921
295 2019-05-14  4012.540984  4012.540984
296 2019-05-20  4081.097701  4081.097701
297 2019-05-21  3976.076555  3976.076555
298 2019-05-22  4207.570552  4207.570552
299 2019-05-23  4150.989071  4150.989071
300 2019-05-24  4212.150943  4212.150943
301 2019-05-27  4147.199248  4147.199248
302 2019-05-29  4230.208589  4230.208589
303 2019-05-30  4382.132653  4382.132653
304 2019-06-03  4463.336957  4463.336957
305 2019-06-04  4571.852761  4571.852761
306 2019-06-05  4568.323232  4568.323232
307 2019-06-07  4444.142857  4444.142857
308 2019-06-10  4713.450980  4713.450980
309 2019-06-11  4545.182927  4545.182927
310 2019-06-12  4250.497175  4250.497175
311 2019-06-13  4306.082645  4306.082645
312 2019-06-14  4336.005988  4336.005988
313 2019-06-17  4322.661392  4322.661392
314 2019-06-18  4317.349398  4317.349398
315 2019-06-19  4287.985075  4287.985075
316 2019-06-20  4249.541985  4249.541985
317 2019-06-21  4193.005682  4193.005682
318 2019-06-24  4161.310897  4161.310897
319 2019-06-25  4170.405263  4170.405263
320 2019-06-26  3938.486034  3938.486034
321 2019-06-27  3728.326667  3728.326667
322 2019-06-28  3754.862500  3754.862500
323 2019-07-01  4045.246575  4045.246575
324 2019-07-02  4037.686747  4037.686747
325 2019-07-03  4256.073826  4256.073826
326 2019-07-04  4181.728155  4181.728155
327 2019-07-05  4279.756098  4279.756098
328 2019-07-08  4225.007042  4225.007042
329 2019-07-09  4242.570470  4242.570470
330 2019-07-10  4293.745455  4293.745455
331 2019-07-11  4160.687023  4160.687023
332 2019-07-12  4096.369427  4096.369427
333 2019-07-15  4239.816547  4239.816547
334 2019-07-16  4241.254658  4241.254658
335 2019-07-19  4402.306569  4402.306569
336 2019-07-22  4265.492000  4265.492000
337 2019-07-23  4184.101351  4184.101351
338 2019-07-24  4373.800000  4373.800000
339 2019-07-25  4324.831461  4324.831461
340 2019-07-26  4084.136364  4084.136364
341 2019-08-06  3837.649351  3837.649351
342 2019-08-09  4207.186047  4207.186047
343 2019-08-12  4019.963415  4019.963415
344 2019-08-13  4108.952000  4108.952000
345 2019-08-14  4275.276074  4275.276074
346 2019-08-16  4353.825688  4353.825688
347 2019-08-19  4207.360424  4207.360424
348 2019-08-20  4433.321951  4433.321951
349 2019-08-21  4584.518519  4584.518519
350 2019-08-22  4611.620915  4611.620915
351 2019-08-23  4601.815574  4601.815574
352 2019-08-26  4850.386719  4850.386719
353 2019-08-27  4818.881579  4818.881579
354 2019-08-28  4900.437768  4900.437768
355 2019-08-29  4802.105727  4802.105727
356 2019-08-30  4921.276753  4921.276753
357 2019-09-02  4734.566929  4734.566929
358 2019-09-03  4803.463855  4803.463855
359 2019-09-04  4887.458824  4887.458824
360 2019-09-05  4421.338762  4421.338762
361 2019-09-06  4231.222571  4231.222571
362 2019-09-09  4125.725806  4125.725806
363 2019-09-10  4049.276316  4049.276316
364 2019-09-16  4146.025000  4146.025000
365 2019-09-17  6647.612500  6647.612500
366 2019-09-19  5394.515759  5394.515759
367 2019-09-20  5253.919355  5253.919355
368 2019-09-23  5360.978437  5360.978437
369 2019-09-24  5845.218182  5845.218182
370 2019-09-29  6048.891156  6048.891156
371 2019-09-30  4247.105263  4247.105263
372 2019-10-01  4110.401099  4110.401099
373 2019-10-02  4076.924444  4076.924444
374 2019-10-06  3467.511962  3467.511962
375 2019-10-08  3256.603604  3256.603604
376 2019-10-09  3329.978541  3329.978541
377 2019-10-10  3139.230453  3139.230453
378 2019-10-11  3162.958188  3162.958188
379 2019-10-14  3109.028939  3109.028939
380 2019-10-15  2962.194366  2962.194366
381 2019-10-16  2992.557252  2992.557252
382 2019-10-17  3003.011719  3003.011719
383 2019-10-18  3090.839662  3090.839662
384 2019-10-21  2944.853503  2944.853503
385 2019-10-22  2901.500000  2901.500000
386 2019-10-23  2985.612335  2985.612335
387 2019-10-24  3022.778894  3022.778894
388 2019-10-25  2792.211538  2792.211538
389 2019-10-28  2737.030960  2737.030960
390 2019-10-29  2887.368421  2887.368421
391 2019-10-30  2931.677778  2931.677778
392 2019-10-31  3093.188119  3093.188119
393 2019-11-01  2858.054852  2858.054852
394 2019-11-04  3189.875445  3189.875445
395 2019-11-05  3397.309524  3397.309524
396 2019-11-07  3581.693966  3581.693966
397 2019-11-12  3975.359184  3975.359184
398 2019-11-13  4163.666667  4163.666667
399 2019-11-14  3989.713781  3989.713781
400 2019-11-15  3623.770440  3623.770440
401 2019-11-18  4157.555556  4157.555556
402 2019-11-19  4020.593857  4020.593857
403 2019-11-20  3873.570533  3873.570533
404 2019-11-21  3996.546713  3996.546713
405 2019-11-22  3877.444079  3877.444079
406 2019-11-25  3899.409639  3899.409639
407 2019-11-26  3654.433544  3654.433544
408 2019-11-27  3658.883562  3658.883562
409 2019-11-28  3512.408805  3512.408805
410 2019-11-29  3752.234818  3752.234818
411 2019-12-02  3955.686411  3955.686411
412 2019-12-03  3966.702811  3966.702811
413 2019-12-04  3795.289377  3795.289377
414 2019-12-05  3842.762264  3842.762264
415 2019-12-06  3845.314655  3845.314655
416 2019-12-09  3925.417647  3925.417647
417 2019-12-11  3758.333333  3758.333333
418 2019-12-12  3688.186207  3688.186207
419 2019-12-13  3507.482315  3507.482315
420 2019-12-16  3171.388889  3171.388889
421 2019-12-17  3306.656160  3306.656160
422 2019-12-18  3103.716216  3103.716216
423 2019-12-19  2754.660819  2754.660819
424 2019-12-20  2747.054217  2747.054217
425 2019-12-27  2839.258993  2839.258993
426 2019-12-30  3168.860714  3168.860714
427 2019-12-31  2935.529412  2935.529412
428 2021-01-04  3968.971831  3968.971831
429 2021-01-05  3882.641577  3882.641577
430 2021-01-06  3783.201389  3783.201389
431 2021-01-07  3551.798387  3551.798387
432 2021-01-08  3444.481481  3444.481481
433 2021-01-11  3574.246429  3574.246429
434 2021-01-12  3729.509091  3729.509091
435 2021-01-13  3839.601810  3839.601810
436 2021-01-14  3846.467290  3846.467290
437 2021-01-15  3833.000000  3833.000000
438 2021-01-18  3810.073090  3810.073090
439 2021-01-19  3629.668966  3629.668966
440 2021-01-20  3632.800000  3632.800000
441 2021-01-21  3677.322034  3677.322034
442 2021-01-22  3402.543046  3402.543046
443 2021-01-25  3622.187919  3622.187919
444 2021-01-26  3579.747664  3579.747664
445 2021-01-27  3376.527778  3376.527778
446 2021-01-28  3500.175115  3500.175115
447 2021-01-29  3622.063636  3622.063636
448 2021-02-01  3627.457055  3627.457055
449 2021-02-02  3908.665339  3908.665339
450 2021-02-03  3793.344262  3793.344262
451 2021-02-04  3615.447154  3615.447154
452 2021-02-05  3585.518828  3585.518828
453 2021-02-08  3981.509346  3981.509346
454 2021-02-09  3794.208333  3794.208333
455 2021-02-15  3619.903614  3619.903614
456 2021-02-16  3373.576923  3373.576923
457 2021-02-17  3232.777778  3232.777778
458 2021-02-18  3342.582915  3342.582915
459 2021-02-19  3551.291667  3551.291667
460 2021-02-22  3678.421569  3678.421569
461 2021-02-23  3784.642276  3784.642276
462 2021-02-24  3748.213710  3748.213710
463 2021-02-25  3733.923077  3733.923077
464 2021-02-26  3879.419355  3879.419355
465 2021-03-02  4032.024024  4032.024024
466 2021-03-03  3917.385827  3917.385827
467 2021-03-04  3848.125000  3848.125000
468 2021-03-05  3879.116751  3879.116751
469 2021-03-22  4006.642384  4006.642384
470 2021-03-23  4154.495935  4154.495935
471 2021-03-24  4117.762500  4117.762500
472 2021-03-25  4200.206612  4200.206612
473 2021-03-26  4111.909836  4111.909836
474 2021-03-29  4362.471125  4362.471125
475 2021-03-30  4346.665306  4346.665306
476 2021-03-31  4364.376518  4364.376518
477 2021-04-01  4284.458678  4284.458678
478 2021-04-02  4104.967611  4104.967611
479 2021-04-05  4174.707692  4174.707692
480 2021-04-06  4324.995833  4324.995833
481 2021-04-07  4335.532000  4335.532000
482 2021-04-08  4374.512397  4374.512397
483 2021-04-09  4363.524664  4363.524664
484 2021-04-12  4398.143731  4398.143731
485 2021-04-13  4542.144928  4542.144928

### 주별로 groupby해서 평균내기

In [41]:
week = [g.reset_index() for n, g in new_df_price_all_2column.set_index('도축일').groupby(pd.Grouper(freq='W'))]

In [42]:
week[0]

         도축일         경락단가      경락단가_평균
0 2018-01-02  3750.366093  3750.366093
1 2018-01-03  3547.574932  3547.574932
2 2018-01-04  3696.060897  3696.060897
3 2018-01-05  3770.156364  3770.156364

In [43]:
new_mean=new_df_price_all_2column.set_index('도축일').groupby(pd.Grouper(freq='W')).mean()

In [44]:
new_mean=new_mean.reset_index()

In [45]:
#결측치 바로 위에 값하고 동일하게 처리
new_mean=new_mean.fillna(method='ffill')

In [46]:
new_mean['label']=0

In [47]:
new_mean[['도축일','경락단가_평균','new_label']].iloc[1:10]

KeyError: "['new_label'] not in index"

### 전 주와 비교하여 감소:2, 유지:0, 증가:1

In [48]:
label_list=[]
for i in range(len(new_mean)):
    if(i!=0):
        if(new_mean['경락단가'][i-1] > new_mean['경락단가'][i]):
            new_mean['label'][i]=2
        elif (new_mean['경락단가'][i-1] < new_mean['경락단가'][i]):
            new_mean['label'][i]=1
        elif new_mean['경락단가'][i-1]==new_mean['경락단가'][i]:              
            new_mean['label'][i]=0
    else:
        new_mean['label'][i]=0

C:\Users\jaemin\AppData\Local\Temp\ipykernel_1992\1809203011.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_mean['label'][i]=0
C:\Users\jaemin\AppData\Local\Temp\ipykernel_1992\1809203011.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_mean['label'][i]=1
C:\Users\jaemin\AppData\Local\Temp\ipykernel_1992\1809203011.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_mean['label'][i]=2
C:\Users\jaemin\AppData\Local\Temp\ipykernel_1992\1809203011.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_mean['label'][i]=0

In [52]:
new_mean[['도축일','경락단가_평균','label','가격등락비율']].iloc[1:10]

KeyError: "['가격등락비율'] not in index"

In [53]:
new_mean.head()

         도축일         경락단가      경락단가_평균  label
0 2018-01-07  3691.039572  3691.039572      0
1 2018-01-14  3743.336317  3743.336317      1
2 2018-01-21  3743.359986  3743.359986      1
3 2018-01-28  3835.679915  3835.679915      1
4 2018-02-04  4276.198330  4276.198330      1

In [27]:
new_mean.to_excel('./가격데이터_증감비교_라벨링.xlsx',index=False)

### 월별 키워드 분석 맵핑

In [28]:
for i in range(1,13):
    stem_list=[]
    stem_list2=[]
    stem_list3=[]

    for text in df_18[df_18['월별']==month_list[i]]['article']:
        stem_list.append(okt.phrases(text))

    with open('./stem_list.txt','w',encoding='UTF-8') as f:
            f.write('\n'.join(map(str, stem_list)))

    f = open("./stem_list.txt", 'r',encoding='UTF-8')

    lines = f.readlines()

    for text in lines:
        malist=okt.pos(text, norm=True, stem=True)
        r=[]
        for word in malist:
            if not word[1] in ["Josa","Eomi","Punctuation", "Number",'\r','\t','Foreign','unknown']:
                r.append(word[0])
        rl=(" ".join(r)).strip()
        stem_list2.append(rl)
        print(rl)
    #     stem_list.append(okt.nouns(text))

    stem_list

    vect=CountVectorizer()

    vect.fit(stem_list2)
    globals()["new_df_{}".format(i)]=pd.DataFrame(vect.vocabulary_, index = [0])

    globals()["new_df_{}".format(i)]=globals()["new_df_{}".format(i)].T

    globals()["new_df_{}".format(i)].reset_index(inplace=True)

    globals()["new_df_{}".format(i)].columns=['word','frequency']

KeyError: '월별'

In [ ]:
new_df_12

In [ ]:
new_df_12_descending=new_df_12.sort_values(by=['frequency'], axis=0, ascending=False).reset_index(drop=True)

In [ ]:
new_df_12_descending

### 전월과 비교하여 공통된 단어 데이터프레임 만들기

In [ ]:
# 두 데이터프레임에서 추출한 단어들을 set 자료형으로 변환하여 비교
for i in range():
words_df1 = set(new_df_1['word'].values.flatten())
words_df2 = set(new_df_2['word'].values.flatten())
common_words = words_df1.intersection(words_df2)

common_words

In [ ]:
len(words_df2)